testecolection/arxiv.txt
.idea
/data/
/test/data/
/test/disk_storage/data1/
/test/disk_storage/data2/
/test/disk_storage/data3/
/test/disk_storage/data4/
/test/disk_storage/data5/
/test/disk_storage/data6/
/test/disk_storage/data7/
/test/disk_storage/data8/
